{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/b880e11005e399e60015c6bfd/e336d67fab75fd81ada0ce0f5.js");</script>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %} 
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                Your adventure begins here
            </h1>
            <div class="'my-5">
                <h4>
                    <a href="{% url 'adventures' %}?continent=Africa,Asia,Europe,North_America,Oceania,South_America" class="adventure-btn btn btn-lg rounded-0 text-uppercase py-3">Plan your adventure</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block postloadjs %}
<!-- <script type='text/javascript'>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script> -->
{% endblock%}