<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="adventures-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Adventures
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="adventures-link">
                <a href="{% url 'adventures' %}?category=africa" class="dropdown-item">Africa</a>
                <a href="{% url 'adventures' %}?category=asia" class="dropdown-item">Asia</a>
                <a href="{% url 'adventures' %}?category=europe" class="dropdown-item">Europe</a>
                <a href="{% url 'adventures' %}?category=north_america" class="dropdown-item">North America</a>
                <a href="{% url 'adventures' %}?category=oceania" class="dropdown-item">Oceania</a>
                <a href="{% url 'adventures' %}?category=south_america" class="dropdown-item">South America</a>
                <a href="{% url 'adventures' %}?category=africa,asia,europe,north_america,oceania,south_america" class="dropdown-item">All Adventures</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="adventures-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="adventures-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Quiz
            </a>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="adventures-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Testimonials
            </a>
        </li>
    </ul>
</div>