<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="adventures-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Adventures
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="adventures-link">
                <a href="" class="dropdown-item">Africa</a>
                <a href="" class="dropdown-item">Asia</a>
                <a href="" class="dropdown-item">Europe</a>
                <a href="" class="dropdown-item">North America</a>
                <a href="" class="dropdown-item">Oceania</a>
                <a href="" class="dropdown-item">South America</a>
                <a href="{% url 'adventures' %}"" class="dropdown-item">All Adventures</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="adventures-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="adventures-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Quiz
            </a>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="adventures-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Testimonials
            </a>
        </li>
    </ul>
</div>