<div class="collapse navbar-collapse main-nav" id="main-nav">
    <ul class="navbar-nav main-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link main-nav logo-font mr-5" id="adventures-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Adventures
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="adventures-link">
                <a href="{% url 'adventures' %}?continent=Africa" class="dropdown-item">Africa</a>
                <a href="{% url 'adventures' %}?continent=Asia" class="dropdown-item">Asia</a>
                <a href="{% url 'adventures' %}?continent=Europe" class="dropdown-item">Europe</a>
                <a href="{% url 'adventures' %}?continent=North_America" class="dropdown-item">North America</a>
                <a href="{% url 'adventures' %}?continent=Oceania" class="dropdown-item">Oceania</a>
                <a href="{% url 'adventures' %}?continent=South_America" class="dropdown-item">South America</a>
                <a href="{% url 'adventures' %}?continent=Africa,Asia,Europe,North_America,Oceania,South_America"
                    class="dropdown-item">All Adventures</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="{% url 'about' %}" class="logo-font font-weight-bold nav-link main-nav logo-font mr-5"
                id="about-link" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
        </li>

        <li class="nav-item dropdown">
            <a href="{% url 'contact' %}" class="logo-font font-weight-bold nav-link main-nav logo-font mr-5"
                id="contact-link" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>

        <li class="nav-item dropdown">
            <a href="{% url 'testimonials' %}" class="logo-font main-nav font-weight-bold nav-link  mr-5"
                id="testimonials-link" aria-haspopup="true" aria-expanded="false">
                Testimonials
            </a>
        </li>
    </ul>
</div>