{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">About Us</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>
{% endblock %}

{% block content %} 
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto my-auto text-center">
            <p>If you have any enquiries about our adventures then please fill in the form below.</p>
        </div>
        <div class="col-12 col-md-6 mx-auto my-auto text-center">
            <p>If you have any enquiries about our adventures then please fill in the form below.</p>
        </div>
    </div>
{% endblock %}