{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">About Us</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>
{% endblock %}

{% block content %} 
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row pt-lg-2">
        <div class="col-12 col-md-6 mx-auto my-auto text-left">
            <h2>Experiences of a lifetime</h2>
            <h2>Activites for the adrenaline junkie in all of us.</h2>
            <h2>Over 20 stunning adventures for you to choose from!</h2>
            <h2>What are you waiting for?</h2>
            <br>
            <p>Here at BucketList our main goal is to give you an adventure of a lifetime!</p>
            <br>
            <p>With destinations spanning the globe and itenaries filled with activities for all, we're sure we can find your ideal adventure.
            </p>
            <br>
            <p>Now go search our adventure list and find the one suited to your, and if you have any enquries head over to our contact us page and we can help you out!</p>
            <br>
        </div>
    </div>
{% endblock %}