body {
    background: linear-gradient(rgba(246, 244, 244, 0.801), rgba(0, 0, 0, 0)),url('/media/hero-img.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-color: #EEE2DC;
    height: calc(100vh - 164px);
    color: #AC3B61;
    font-family: 'Raleway', sans-serif;
}